p {
    color: rgb(24, 57, 10);
}
.colorA{
    color: aqua;
    background-color: black;
    height:20px;
    width: auto;
    text-decoration: underline line-through wavy;
}
.classA{
    color: rgb(219, 14, 14);
}